<div>
  <h2 id="page-heading" data-cy="GnosisSafeHeading">
    <span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.home.title">Gnosis Safes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gnosis-safe"
        [routerLink]="['/gnosis-safe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.home.createLabel"> Create a new Gnosis Safe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gnosisSafes?.length === 0">
    <span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.home.notFound">No gnosisSafes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="gnosisSafes && gnosisSafes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.name">Name</span></th>
          <th scope="col"><span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.address">Address</span></th>
          <th scope="col"><span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.signatures">Signatures</span></th>
          <th scope="col"><span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.owners">Owners</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gnosisSafe of gnosisSafes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gnosis-safe', gnosisSafe.id, 'view']">{{ gnosisSafe.id }}</a>
          </td>
          <td>{{ gnosisSafe.name }}</td>
          <td>{{ gnosisSafe.address }}</td>
          <td>{{ gnosisSafe.signatures }}</td>
          <td>
            <span *ngFor="let owners of gnosisSafe.owners; let last = last"> {{ owners.login }}{{ last ? '' : ', ' }} </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/gnosis-safe', gnosisSafe.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/gnosis-safe', gnosisSafe.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(gnosisSafe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>

              <button type="button"
                      class="btn btn-primary"
                      (click)="setup(gnosisSafe)">
                <span>Setup</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
