<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="gnosisSafe">
      <h2 data-cy="gnosisSafeDetailsHeading">
        <span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.detail.title">Gnosis Safe</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ gnosisSafe.id }}</span>
        </dd>
        <dt><span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.name">Name</span></dt>
        <dd>
          <span>{{ gnosisSafe.name }}</span>
        </dd>
        <dt><span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.address">Address</span></dt>
        <dd>
          <span>{{ gnosisSafe.address }}</span>
        </dd>
        <dt><span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.signatures">Signatures</span></dt>
        <dd>
          <span>{{ gnosisSafe.signatures }}</span>
        </dd>
        <dt><span jhiTranslate="gnosisSafeEnterpriseEditionApp.gnosisSafe.owners">Owners</span></dt>
        <dd>
          <span *ngFor="let owners of gnosisSafe.owners; let last = last"> {{ owners.login }}{{ last ? '' : ', ' }} </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/gnosis-safe', gnosisSafe.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
