<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-salted-user-heading"
        data-cy="SaltedUserCreateUpdateHeading"
        jhiTranslate="gnosisSafeEnterpriseEditionApp.saltedUser.home.createOrEditLabel"
      >
        Create or edit a Salted User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gnosisSafeEnterpriseEditionApp.saltedUser.salt" for="field_salt">Salt</label>
          <input type="text" class="form-control" name="salt" id="field_salt" data-cy="salt" formControlName="salt" />
        </div>
        <div *ngIf="editForm.get('salt')!.invalid && (editForm.get('salt')!.dirty || editForm.get('salt')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('salt')?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gnosisSafeEnterpriseEditionApp.saltedUser.address" for="field_address"
            >Address</label
          >
          <input [readonly]="true" type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gnosisSafeEnterpriseEditionApp.saltedUser.user" for="field_user">User</label>
          <select [attr.disabled]="true" class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
